/* App.css */

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  
  .movie-list {
    width: 50%;
    width: 650px;
  }
  
  .movie-list h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .movie-list label {
    display: block;
    margin-bottom: 10px;
  }
  
  .movie-list select,
  .movie-list input[type="text"] {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .movie-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 500px;
    overflow-y: auto;
  }
  
  .movie-list li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .movie-list li:hover {
    background-color: #f5f5f5;
  }
  
  .selected-movie {
    width: 50%;
    padding: 20px;
  }
  
  .selected-movie h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
 
